# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Log files
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Flask specific
instance/
.webassets-cache

# PyCharm
.idea/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Local env files
.env.local
.env.*.local
